@page "/contact"

<Auth />

<div class="d-flex align-items-center mb-2">
    <ion-icon class="me-2 blue-text" name="call-outline"></ion-icon>
    <h4>Telefon</h4>
</div>
<p class="gray-text">019-00 00 00</p>

<div class="gray-border mt-4 mb-4"></div>

<div class="d-flex align-items-center mb-2">
    <ion-icon class="me-2 blue-text" name="mail-outline"></ion-icon>
    <h4>E-post</h4>
</div>
<p class="gray-text">support@domain.se</p>

<div class="gray-border mt-4 mb-4"></div>

<div class="d-flex align-items-center mb-2">
    <ion-icon class="me-2 blue-text" name="location-outline"></ion-icon>
    <h4>Besöksadress</h4>
</div>
<p class="gray-text">Exempelgatan 19 - 703 62 Örebro</p>

<div class="gray-border mt-4 mb-4"></div>

<div class="d-flex align-items-center mb-2">
    <ion-icon class="me-2 blue-text" name="time-outline"></ion-icon>
    <h4>Öppettider</h4>
</div>
<p class="gray-text">Vardagar kl. 08.00-18.00</p>

@code {

}
