<div>
    <div class="navmenu-top d-flex align-items-center">
        <p class="title">Mina sidor</p>
    </div>
    <ul class="navmenu">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Startsida
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/laundrybooking" Match="NavLinkMatch.Prefix">
                Boka tvättstuga
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/errorreport" Match="NavLinkMatch.Prefix">
                Felanmälan
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/maintenance" Match="NavLinkMatch.Prefix">
                Lägenhetsunderhåll
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/mycontracts" Match="NavLinkMatch.Prefix">
                Mina avtal
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/mybills" Match="NavLinkMatch.Prefix">
                Mina fakturor
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/bulletinboard" Match="NavLinkMatch.Prefix">
                Anslagstavlan
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/contact" Match="NavLinkMatch.Prefix">
                Kontakta oss
            </NavLink>
        </li>
    </ul>
</div>

@code {

}
